/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.panel-form{
	margin-top: 2px;
	max-width: 600px;
}
.btn-custom {
	width: 46% !important;
}
h6{
	margin: 10px 0;
	color: #6c757d;
}
input, button{
	border-radius: 20px !important;
}
/*
body {
	font-family: Helvetica, Sans Serif;
}
*/
p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: none !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.selecF12 { font-size: 1.2em; color: #6c757d; }
.linhaBold { font-weight: bold; }
.selecF12b { font-weight: normal; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    padding: 18px;
}

#sidebar #info{
	font-size: 0.8em;
	margin-top: 60px;
	text-align: center;
}

#sidebar ul.components {
    padding: 18px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li:hover {
    color: #000;
    background: #ECECEC;
    border-left: 5px solid #000;
}
#sidebar ul li a {
	color: #6c757d;
    padding: 15px;
    font-size: 0.9em;
    display: block;
    margin-left: 20px;
}

#sidebar ul li a:hover {
    color: #000;
    background: #ECECEC;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000;
}

#sidebar ul li a.sair{
	margin-top: 60px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background: #ECECEC;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}